---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <section class="min-h-50 pt-5">
        <h1>Responsibility Statement:</h1>
        <p>We here at AnalyticsForYourself pledge to always remain true to the merits and foundations of an open and accessible internet. We pledge to never take more than we need, use what we have, and stay mindful of our impact on the world.</p>
        <p>This means being actively, fervently, and indiscriminately against hate, oppression, fascism, racism, bigotry, genocide, genAI, Web3, and any other future liability to the open web.</p>
        <hr>
        <h2>By authors and readers, for authors and readers:</h2>
        <p>When coming up with the idea for <abbr title="AnalyticsForYourself">AFY</abbr>, the first thing on our minds was how do we help authors get a better understanding of their works. Ideas were floated. How do we count a hit as legitimate? How do we filter out repeat hits? How do we store the users that have liked our works?</p>
        <p>While solutions exist, truth was we couldn't think of a solution for these that didn't infringe on our privacy as a reader.</p>
        <p>We wanted our impact to be minimal. <abbr title="Archive Of Our Own">AO3</abbr> sees an immense amount of traffic every minute. The last thing we want was to add to that and harm the experience for other authors and readers.</p>
        <p>This meant devising a plan, what did we actually need from AO3, and what could we skip.</p>
        <p>The original plan was to get the list of works from an author and then request the web page for each work and subsequent chapters. This quickly ballooned the number of requests.</p>
        <p>After reviewing the information we <i>needed</i>, we found we only had to request two things. The user's profile on sign up. The user's works list once a day. For every 20 works a user posts to AO3, that counts as 1 request from us.</p>
        <p><small>Spotted somewhere we can do better? Let us know! [Insert email address]</small></p>
        <hr>
        <h2>Thank you for putting your trust in us,<br><small>The team at AnalyticsForYourself</small></h2>
    </section>
</Layout>
<style>
    section {
        max-width: 70ch;
    }
</style>