---
import {Icon} from 'astro-icon/components';
import type { HTMLAttributes, HTMLTag, Polymorphic } from 'astro/types';
type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & HTMLAttributes<'div'> & {
    name: string;
    hClass?: string|string[];
}
const { name, hClass, as: Tag, ...props } = Astro.props;
// const Tag = `h${level}` as HTMLTag
---
<div {...props}>
    <Icon name={name} class="title-icon" />
    <Tag class:list={hClass}><slot /></Tag>
</div>
<style>
    div {
        display: flex;
        align-items: center;
        column-gap: 1ch;
        > * {
            margin: 0;
        }
    }
    .title-icon {
        font-size: 1.35em;
    }
</style>