---
import {Icon} from 'astro-icon/components';
const { value: theme } = Astro.cookies.get("theme")!;
---
<theme-toggle current-theme={theme} id="themeToggle">
    {/* @ts-ignore: Add commands polyfill eventually */}
    <button class="btn" command="toggle" commandfor="themeToggle">
        <Icon class="light" name="eva:sun-outline" />
        <Icon class="dark" name="eva:moon-outline" />
    </button>
</theme-toggle>
<script>
    customElements.define('theme-toggle', class extends HTMLElement {
        set currentTheme(str: string) {
            this.setAttribute('current-theme', str);
            document.cookie = `theme=${str};`;
            document.documentElement.dataset.theme = str;
        }
        get currentTheme() {
            return this.getAttribute('current-theme')!;
        }
        connectedCallback() {
            this.addEventListener('click', () => {
                this.currentTheme = this.currentTheme === 'dark' ? 'light' : 'dark';
            }, true)
        }
    })
</script>
<style>
    theme-toggle {
        display: block;
    }
    theme-toggle button {
        font-size: 1.5rem;
        display: grid;
        place-content: center;
        aspect-ratio: 1;
    }
    [current-theme="dark"] .dark {
        display: none;
    }
    [current-theme="light"] .light {
        display: none;
    }
</style>
