---
import type { GetStaticPaths } from "astro";
import Layout from "../../../layouts/Layout.astro";
import { getEntry, getCollection } from "astro:content";
// import DebugJSON from "../../components/DebugJSON.astro";
export const prerender = false;

export const getStaticPaths = (async () => {
    const collection = await getCollection('analytics');
    const users = await getCollection('users');
    const mappedPaths = users.map(({ id, data }) => {
        
        const relatedWorks = collection.filter(({ data: { user } }) => parseInt(user, 10) === parseInt(id, 10));
        const userid = id;
        return relatedWorks.map(({ id }) => {
            return { params: { user: userid, id } }
        })
    }).flat()
    return mappedPaths;
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const entry = await getEntry('analytics', id);

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'short' });

function parseData(dataArr: Record<string, string|number[]>) {
    const potentialData: Record<string, (number|string)[]> = {
        labels: []
    };

    for (const [key, value] of Object.entries(dataArr.records)) {
        if (key === 'timestamps') potentialData.labels.push(...(value as number[]).map(n => formatter.format(new Date(n))));
        else {
            potentialData[key] = (potentialData[key] || []).concat(value);
        }
    }
    return potentialData;
}
const parsedData = parseData(entry?.data);
const data = JSON.stringify(parsedData || {});
console.log(entry?.data);
---
<Layout>
    <h1>Analytics for {entry?.data.title}</h1>
    {parsedData.kudos?.length < 5 && <h2>There aren't a lot of entries for this work, you might want to come back in a couple of days!</h2>}
    <canvas id="ctx"></canvas>
    <fieldset>
        <legend>Controls</legend>
        <div class="fieldset">
            <div class="row gap-3">
                {Object.keys(parsedData).map((key) => !['title','fandom','category','rating','warnings','labels','chapters','complete'].includes(key) &&
                    // @ts-ignore
                    <button command={'--change:'+key} commandfor="ctx">{key[0].toUpperCase() + key.slice(1)}</button>
                )}
            </div>
            <div class="row">
                <label for="limit">Number of Entries: </label>
                <select id="limit">
                    <option>1</option>
                    <option selected>5</option>
                    <option>14</option>
                    <option>30</option>
                    <option>60</option>
                    <option>150</option>
                    <option>365</option>
                </select>
            </div>
        </div>
    </fieldset>
</Layout>
<style>
    legend {
        font-size: 1.25rem;
    }
    .fieldset {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 2ch;
        padding: 3ch;
    }
    button {
        background-color: var(--primary-300);
        border: unset;
        padding: 1ch 1.5ch;
        font-size: 1.15rem;
        color: white;
        font-weight: 600;
        border-radius: 4px;
        border: 3px solid var(--primary-400);
        flex-basis: auto;
        max-width: fit-content;
    }
    button[data-active] {
        background-color: var(--primary-900);
        color: var(--primary-50);
    }
</style>
<script id="chartData" type="application/json" set:html={data}></script>
<script>
    import {Chart, registerables} from 'chart.js';
    Chart.register(...registerables);
    const ctx = document.getElementById('ctx')! as HTMLCanvasElement;
    const data =JSON.parse(document.querySelector<HTMLScriptElement>('#chartData')?.innerHTML || '{}')
    const limit = document.getElementById('limit')! as HTMLSelectElement;
    let currentType = 'kudos';
    
    const limitData = (data: number[]) => {
        const numLimit = parseInt(limit.value, 10);
        return data.slice(-numLimit);
    }

    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.labels,
            datasets: [{
                label: 'Kudos',
                data: limitData(data.kudos)
            }]
        }
    })


    // @ts-ignore
    ctx.addEventListener('command', ({ command, source }) => {
        const type = command.split(':')[1];
        currentType = type;
        chart.data.datasets = [
            { label: source.textContent, data: limitData(data[type]) }
        ]
        chart.update();
        document.querySelectorAll('button').forEach(el => el.removeAttribute('data-active'));
        source.dataset.active = true;

    })
    limit.addEventListener('change', () => {
        chart.data.labels = limitData(data.labels);
        chart.data.datasets = [
            { label: document.querySelector('[command*=":'+currentType+'"]')!.textContent!, data: limitData(data[currentType]) }
        ]
        chart.update();
    })
</script>